.sw-dropdown {
  display: block;
  width: 100%;
  border: 1px solid white;
  transition: 0.2s;
  border-radius: 2px;
  line-height: 24px;
  padding: 6px 12px;
  font-size: 16px;
  z-index: 9999;

  position: relative;
  cursor: pointer;

  &:focus {
    border: 1px solid #470075;
  }

  &__items {
    display: none;
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    width: 100%;
    &--opened {
      display: block;
    }
  }

  &-item {
    padding: 6px 12px;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    overflow: hidden;
    & .material-icons {
      font-size: 20px;
      transition: 0.2s;
      &--rotated {
        transform: rotate(180deg)
      }
    }
  }
}
