.sw-input {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  transition: 0.2s;
  outline: 0;

  &__textarea {
    border: 1px solid rgb(169, 169, 169);
    resize: none;
  }

  &__checkbox {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }

  &:focus {
    border: 1px solid #470075;
  }

  &[readonly] {
    color: #7E7E7E;
    opacity: 1;
  }

  // default size
  line-height: 24px;
  padding: 6px 12px;
  font-size: 16px;
  // size of big
  &--bg {
    line-height: 30px;
    padding: 8px 16px;
    font-size: 20px;
  }
  // size of small
  &--sm {
    line-height: 21px;
    padding: 4px 8px;
    font-size: 14px;
  }
}
