.sw-date {
  display: flex;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #7F8C8D;
  &__divider {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__icon {
    width: 100%;
    height: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    & .material-icons {
      color: #7F8C8D;
      font-size: 15px;
    }
  }
}

.sw-card-status__icon {
  font-size: 17px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sw-card-status__text {
  padding: 0 5px;
  font-size: 14px;
  line-height: 1;
}

.filter__date-input {
  width: 100%;
  background: #290043;
  color: white;
  border: none;
  padding: 2.5px;
  font-size: 13px;
}

.sw-fz-13 {
  font-size: 13px;
}
.sw-p-l-35 {
  padding: 0 0 0 35px;
}

.react-datepicker__triangle {
  display: none;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 25px;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name, .react-datepicker__month {
  margin: 0.1rem;
}
