.sw-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 10px 30px;
  border-radius: 2px;
  background: none;
  outline: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  margin: 10px auto;
  &__icon {
    padding: 0 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    & .material-icons {
      display: block;
      height: 100%;
      font-size: 18px;
      color: white;
    }
  }
  // #region Elements
  &__loader {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    &_color {
      &_darkblue {
        & svg {
          fill: #3c3374;
          animation: rotating 1s linear infinite;
        }
      }
      &_white {
        & svg {
          fill: white;
          animation: rotating 1s linear infinite;
        }
      }
    }
  }
  &__label {
    flex: 1;
  }
  // #endregion end elements
  // #region Modification
  &--default {
    background: #3c3374;
    color: white;
    &:hover {
      background: #2b2455;
    }
    &--outline {
      border: 1px solid #3c3374;
      background: white;
      color: #3c3374;

      &--disabled,
      &:disabled {
        opacity: 0.7;
        cursor: default;
        background: white;
        border: 1px solid #3c3374;
        color: #3c3374;
      }
    }
    &--disabled,
    &:disabled {
      opacity: 0.7;
      cursor: default;
      background: #3c3374;
      color: white;
    }
  }
  &--violet {
    background: #3C3374;
    &:hover {
      background: #602785;
    }
  }
  &--danger {
    background: #ff5454;
    color: white;
    &:hover {
      background: #d64b4b;
    }
    &--outline {
      border: 1px solid #ff5454;
      background: white;
      color: #ff5454;
      &--disabled,
      &:disabled {
        opacity: 0.7;
        cursor: default;
        border: 1px solid #ff5454;
        background: white;
        color: #ff5454;
      }
    }
    &--disabled,
    &:disabled {
      opacity: 0.7;
      cursor: default;
      background: #ff5454;
      color: white;
    }
  }
  &--fluid {
    width: 100%;
  }
}

// #endregion endModification

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
