.sw-form {
  padding: 10px 7px;
}

.sw-form-group {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.sw-form-checkbox {
  position: relative;
  display: block;
  &__disabled {
    & .sw-label {
      color: #7E7E7E;
    }
  }
}
