.sw-list {
  &--flexed {
    display: flex;
    align-items: center;
    & > .sw-list__item {
      width: 15px;
      height: 15px;
      margin-bottom: 0 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  &__label {
    flex: 1;
    font-size: 14px;
    padding: 0 22px;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &--padding {
      padding: 0 46px;
    }
  }
}
