.sw-rank {
  border: 1px solid black;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin: 0 5px;
  &--green {
    border-color: #27AE60;
    color: #27AE60;
  }
  &--orange {
    color: #E67E22;
    border-color: #E67E22;
  }
  &--red {
    border-color: #D41A07;
    color: #D41A07;
  }
}


