.sw-authentification {
  border: 1px solid lightgrey;
  width: 450px;
  margin: 0 auto;
  padding: 0 50px;
  &__inner {
    // border: 1px solid blue;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__header {
    // border: 1px solid black;
    margin-bottom: 20px;
    & h1 {
      font-size: 17px;
      // border: 1px solid red;
      text-align: center;
      margin-bottom: 20px;
    }
    & p {
      font-size: 13px;
      // border: 1px solid green;
      text-align: center;
    }
  }
  &__body {
    // border: 1px solid blue;
  }
}
