$popupBg: rgba(0, 0, 0, 0.2);

.popup {
  position: relative;
}

.popup__header {
  display: none;
}

.popup__arrow {
  background: $popupBg;
  height: 20px;
  position: absolute;
  transform: translateY(-50%) rotate(45deg);
  width: 20px;
}

.open {
  background: $popupBg;
  display: flex;
  font-size: 50px;
  height: 200px;
  justify-content: center;
  position: absolute;
  top: 40px;
  width: 200px;
}
