// Here you can add other styles

.sw-height-100 {
  height: 100%;
}
.sw-width-100 {
  width: 100%;
}

// colors
.sw-color-white {
  color: $white;
}

.sw-color-black {
  color: $black;
}

.sw-color-red {
  color: $red;
}

.sw-color-grey {
  color: $grey;
}

.sw-color-green {
  color: $green
}

/*
* 10px horizontal margin
*/
.sw-m-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.sw-m-r-5 {
  margin-right: 5px;
}
.sw-m-l-10 {
  margin-left: 10px !important;
}
.sw-m-h-7 {
  margin: 0 7px;
}
.sw-m-t5-b10 {
  margin: 5px 0 10px 0;
}
.sw-m-b-15 {
  margin-bottom: 15px;
}
.sw-m-0 {
  margin: 0;
}

.sw-m-b-0 {
  margin-bottom: 0;
}

.sw-fw-bold {
  font-weight: bold;
}

.sw-cursor-pointer {
  cursor: pointer;
}

.sw-flex-nowrap {
  flex-wrap: nowrap;
}

.logo {
  width: 37px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-index {
  padding-top: 29px;
  &__inner {
    padding: 0 22px 0 33px
  }
  &__heading {
    margin-bottom: 16px;
    &--flexed {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.t-primary-headings {
  line-height: 1;
  padding: 0 7px;
}

.t-secondary-headings {
  font-weight: normal;
  font-size: 20px;
}

.sw-title__code {
  font-family: Calibri, sans-serif;
}

.sw-title__slash {
  padding: 0 3px;
}

.sw-procent-finishing {
  font-size: 12px;
  margin: 0 2.5px;
  padding: 0 2.5px;
}

.sw-rating-list {
  & .material-icons {
    font-size: 14px;
    color: #F6B93B;
  }
}

.add-button {
  cursor: pointer;
  & .material-icons {
    font-size: 24px;
    transition: 0.2s;
    &--rotated {
      transform: rotate(45deg);
    }
  }
}
