$font-names: (
  300: "Calibri-Light",
  400: "Calibri-Regular",
  700: "Calibri-Bold"
);

@each $key in map-keys($font-names) {
  $value: map-get($font-names, $key);
  @font-face {
    font-family: "Calibri";
    src: url("assets/fonts/#{$value}.woff2") format("woff2"),
    url("assets/fonts/#{$value}.woff") format("woff"),
    url("assets/fonts/#{$value}.ttf") format("truetype");
    font-weight: $key;
    font-style: normal;
  }
}
