* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
img,
strong,
b,
u,
i,
table,
tbody,
tfoot,
thead,
td,
th,
tr,
form,
label,
legend,
header,
footer,
article,
section,
aside {
  //height: 100%; // breaks icons
  //overflow: hidden; // breaks icons
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
}

input:focus,
select:focus,
textarea:focus {
  outline: none
}

table,
td,
th,
tr {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Calibri', arial, helvetica, sans-serif;
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font-family: 'Calibri', arial, helvetica, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: #222;
}

button,
input[type="button"] {
  cursor: pointer
}

button {
  outline: none;
  padding: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

img {
  width: 100%;
  display: block;
}
