// Variable overrides

// default colors
$white: white;
$grey: #7F8C8D;
$yellow: #F5CE00;
$green: #27AE60;
$red: #E74C3C;
$black: black;

$breakpoints: (
  'extra-small': 0,
  'small': 475px,
  'medium': 768px,
  'large': 1200px,
  'extra-large': 1400px,
) !default;

$property: 10px;
$paddings: $property;
$margins: $property;
$anti-margins: 0 - $property;
$margin-bottoms: $property * 2;
$anti-margins-bottom: 0 - $property * 2;
$width: 100%;
$verticalPadding: 30px;

$icon-color: white;
$icon-size: 22px;

$property-grutter: 5px;


