
.sw-card {
  border-bottom: 1px solid #3c3374;
  margin: 0 auto;
  padding: 7px 6px 7px 15px;
  &--first {
    border-top: 1px solid #3c3374;
  }
  &__inner {
    display: flex;
  }
  &__prime-side {
    flex: 1;
  }
  &__secondary-side {
    flex: 0;
    position: relative;
  }
  &__heading {
    margin-bottom: 6px;
    position: relative;
    &--flexed {
      display: flex;
      align-items: center;
    }
  }
  &__body {
    &--fixed {
      position: absolute;
      top: 30px;
      right: 0;
    }
  }
}

.sw-card-status {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sw-card-icon {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 -10px;
  padding: 4px 0;
}

.sw-card-more-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7f8c8d;
  cursor: pointer;
  & .material-icons {
    font-size: 20px;
  }
  &__dropdown {
    position: absolute;
    top: 20px;
    width: 160px;
    right: 0;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    z-index: 9999;
  }
  &__dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    margin: 0 -10px;
    transition: 0.2s;
  }
  &__dropdown-item:hover {
    background: #7F8C8D;
    color: white;
  }
}
