.sw-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  &--grey {
    color: #7F8C8D;
  }
  &--green {
    color: #27AE60;
  }
  &--red {
    color: #E74C3C;
  }
  &--white {
    color: white;
  }
  & .material-icons {
    font-size: 20px;
  }
  &--centered {
    margin: 0 auto;
  }
}
