.l-navigation {
  max-width: 249px;
  padding-top: 29px;
  padding-bottom: 29px;
  overflow-y: auto;
  background: #3C3374;
  color: white;
  &__inner {
    padding: 0 10px;
  }
  &__heading {
    margin-bottom: 14px;
    display: flex;
    padding-bottom: 5px;
  }
  &__body {
  }
  &__items {
    &:not(:last-child) {
      margin-bottom: 67px;
    }
  }
}
