.sw-filter-container {
  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }
  &__title {
    flex: 1;
    font-size: 14px;
    padding: 0 22px;
  }
  &__body {
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    margin: 0 -10px;
  }
}
