
.l-header {
  width: 46px;
  padding-top: 29px;
  padding-bottom: 29px;
  background: #0b0051;
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

