.add-button {
  cursor: pointer;
  & .material-icons {
    font-size: 24px;
    transition: 0.2s;
    &--rotated {
      transform: rotate(45deg);
    }
  }
}

.sw-ml-10 {
  margin: 0 0 0 10px;
}

.center-label {
  margin-top: .5rem;
}

.rating-padding-left {
  padding-left: 12px;
}

.card-form {
  display: none;
  &--centered {
    align-items: center;
  }
  &--activated {
    display: block;
  }
  &__heading {
    margin-bottom: 16px;
  }
}

.align-centered {
  align-items: center;
}


