
.sw-custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__disabled {
    color: #7E7E7E;
  }

  & input:checked ~ .sw-icon {
    & .material-icons {
      opacity: 1;
    }
  }

  & .sw-icon {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    & .material-icons {
      opacity: 0;
      transition: 0.1s;
    }
  }
}
