.sw-dropbox {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  position: absolute;
  top: 100%;
  right: -20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: white;
  z-index: 9999;
  padding: 10px 20px 10px 20px;
}
