.sw-authentification {
  border: 1px solid lightgrey;
  width: 450px;
  margin: 0 auto;
  padding: 0 50px;
  &__inner {
    // border: 1px solid blue;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__header {
    // border: 1px solid black;
    margin-bottom: 20px;
    & h1 {
      font-size: 17px;
      // border: 1px solid red;
      text-align: center;
      margin-bottom: 20px;
    }
    & p {
      font-size: 13px;
      // border: 1px solid green;
      text-align: center;
    }
  }
  &__body {
    // border: 1px solid blue;
  }
}

.registration-link {
  border-radius: 2px;
  border: 1px solid #3C3374;
  display: block;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.sw-outer-authentification {
  // border: 1px solid green;
  &__header {
    // border: 1px solid green;
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
  }
  &__body {
    // border: 1px solid red;
  }
}

.sw-outer-links {
  // border: 1px solid green;
  display: flex;
  margin: 0 -10px;
  &__item {
    // border: 1px solid red;
    width: 50%;
    padding: 0 10px;
  }
}

.sw-google-link {
  text-decoration: none;
  border: 1px solid lightgrey;
  font-size: 14px;
  color: inherit;
  padding: 10px;
  display: flex;
  align-items: center;
  & svg {
    // border: 1px solid red;
  }
  &__text {
    // border: 1px solid blue;
    margin: 0 5px;
  }
}

.sw-facebook-link {
  text-decoration: none;
  border: 1px solid lightgrey;
  font-size: 14px;
  color: inherit;
  padding: 10px;
  display: flex;
  align-items: center;
  & svg {
    // border: 1px solid red;
  }
  &__text {
    // border: 1px solid blue;
    margin: 0 5px;
  }
}

