@import "styles/style";

#root {
  height: 100%;
}

.sw-mb {
  margin-bottom: $margin-bottoms;
}

.sw-anti-mb {
  margin-bottom: $anti-margins-bottom;
}

.item {
  background: black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.c-context-menu {
  @include paddingVerticalHeading;
  @include containerFlexing;
  &__inner {
    @include componentFlexing;
    padding: 0 15px;
  }
}

img {
  width: 100%;
  display: block;
}


